@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;900&family=Oswald:wght@300;400;700&display=swap');

body{
    background-color: rgb(250, 236, 210);
    font-family: 'Barlow', sans-serif;
    font-family: 'Oswald', sans-serif;
}

h1{
    color: white;
    font-size: 50px;
}

h2{
    color: white;
}

label{
    font-size: 30px;
    color: white;
}

p{
    color: rgb(70, 70, 70);
    font-size: 17px;
}

.card-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1000px;
}
.card {
    border: none;
    border-radius: 2rem;
    background-color: orange;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    width: 600px;
    height: 950px; 
}
.inputform{
    display: flex;
    gap: 1rem;
    flex-direction: column;
}
.inputform input{
    border: none;
    background-color: white;
    height: 2rem;
    width: 25rem;
    border-radius:2rem ;
    font-size: 20px;
}
.links{
    display: flex;
    gap: 4rem;
    justify-content: space-between;
}
.links a{
    text-decoration: none;
}
.card button{
    background-color: white;
    color: orange;
    width: 20rem;
    height: 3rem;
    border: none;
    border-radius: 2rem;
    font-size: 30px;
    transition: background-color 0.3s ease;
}
.card button:active{
    background-color: gray;
}
.alternatives{
    display: flex;
    align-items: center;
    gap: 2rem;
}
.alternatives .google{
    background-color: white;
    padding: 1rem;
    border-radius: 2rem;
    color: orange;
}
.alternatives .facebook{
    display: flex;
    align-items: center;
    background-color: white;
    padding: 1rem;
    border-radius: 2rem;
    color: orange;
}